<h3>Complex Form</h3>
<form ng-submit="submit()" style="margin: 40px 0px" name="f" novalidate>
  <div class="form-group row" ng-class="{ 'has-success': f.name.$valid, 'has-error': f.name.$invalid }">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="form.name" required>
    </div>
  </div>
  <div class="form-group row" ng-class="{ 'has-success': f.email.$valid, 'has-error': f.email.$invalid }">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="form.email" required>
    </div>
  </div>
  <div class="form-group row" ng-class="{ 'has-success': f.password.$valid, 'has-error': f.password.$invalid }">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="form.password" required>
    </div>
  </div>
  <div class="form-group row" ng-class="{ 'has-success': f.confirm.$valid && form.password === form.confirm, 'has-error': f.confirm.$invalid || form.password !== form.confirm }">
    <label for="confirm" class="col-sm-2 col-form-label">Confirm</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="confirm" name="confirm" placeholder="Confirm Password" ng-model="form.confirm" required>
    </div>
  </div>
  <div class="form-group row" ng-class="{ 'has-success': f.role.$valid }">
    <label for="role" class="col-sm-2 col-form-label">Role</label>
    <div class="col-sm-10">
      <select ng-model="form.role" class="form-control" id="role" name="role">
        <option ng-repeat="role in roles" value="{{role.value}}">{{role.label}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="cool" class="col-sm-2 col-form-label">Is Cool?</label>
    <div class="col-sm-10">
      <input type="checkbox" id="cool" name="cool" ng-model="form.cool">
    </div>
  </div>
  <div class="form-group row">
    <div class="alert alert-success" role="alert" ng-show="success"><strong>Success!</strong> Valid form</div>
    <div class="alert alert-danger" role="alert" ng-show="error"><strong>Error!</strong> {{error}}</div>
  </div>
  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
