<h3>Simple Form</h3>
<form ng-submit="submit()" style="margin: 40px 0px" name="f" novalidate>
  <div class="form-group row" ng-class="{ 'has-success': f.email.$valid, 'has-error': f.email.$invalid }">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="form.email" required>
    </div>
  </div>
  <div class="form-group row" ng-class="{ 'has-success': f.password.$valid, 'has-error': f.password.$invalid }">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="form.password" required>
    </div>
  </div>
  <div class="form-group row">
    <div class="alert alert-success" role="alert" ng-show="success"><strong>Success!</strong> Valid form</div>
    <div class="alert alert-danger" role="alert" ng-show="error"><strong>Error!</strong> {{error}}</div>
  </div>
  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
