<h3>Dynamic List</h3>
<form class="form-inline" ng-submit="submit()" style="margin: 40px 0px">
  <div class="form-group">
    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="form.name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="comment" placeholder="Comment" ng-model="form.comment">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<div class="table-responsive" style="margin-bottom: 40px">
  <table class="table">
    <thead>
      <th>#</th>
      <th>Name</th>
      <th>Comment</th>
    </thead>
    <tbody>
      <tr ng-repeat="obj in comments">
        <th>{{$index+1}}</th>
        <td>{{obj.name}}</td>
        <td>{{obj.comment}}</td>
      </tr>
    </tbody>
  </table>
</div>
